@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="audio3_html5 blackControllers" style="height: 25px; background: rgb(255, 255, 255); padding: 7px; width: 253px;">
            <audio id="audio3_html5_white" preload="metadata" src="http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3">
                      <div class="xaudioplaylist">
                           <ul>
                              <li class="xtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                              <li class="xauthor">Author Composuit</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Somniare</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">In voluptate velit esse cillum dolore</li>
                              <li class="xauthor">Author Optimum</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Excepteur sint occaecat</li>
                              <li class="xauthor">Author Canorus</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul> 
                          
                          <ul>
                              <li class="xtitle">Perspiciatis unde omnis iste natus</li>
                              <li class="xauthor">Author Dolor</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Et harum quidem rerum facilis est et expedita</li>
                              <li class="xauthor">Author Turbarentur</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">Temporibus autem quibusdam et</li>
                              <li class="xauthor">Author Beati</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Scelerisque</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>   
                          
                          <ul>
                              <li class="xtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                              <li class="xauthor">Author Composuit</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Somniare</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">In voluptate velit esse cillum dolore</li>
                              <li class="xauthor">Author Optimum</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Excepteur sint occaecat</li>
                              <li class="xauthor">Author Canorus</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul> 
                          
                          <ul>
                              <li class="xtitle">Perspiciatis unde omnis iste natus</li>
                              <li class="xauthor">Author Dolor</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Et harum quidem rerum facilis est et expedita</li>
                              <li class="xauthor">Author Turbarentur</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">Temporibus autem quibusdam et</li>
                              <li class="xauthor">Author Beati</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Scelerisque</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>   
                                                                                        
                      </div>
                  No HTML5 audio playback capabilities for this browser. Use <a href="https://www.google.com/intl/en/chrome/browser/">Chrome Browser!</a>    
                </audio>
            <div class="AudioControls"><a class="AudioRewind cancelDiv" title="Rewind"></a><a class="AudioPrev" title="Previous"></a><a class="AudioPlay AudioPause" title="Play/Pause" style="margin-top: 5px; margin-bottom: 8px; margin-left: 0px;"></a><a class="AudioNext" title="Next"></a><a class="AudioShuffle" title="Shuffle"></a><a class="VolumeButton" title="Mute/Unmute" style="margin-top: 12px; margin-bottom: 8px;"></a>
                <div class="VolumeSlider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="margin-top: 15px; margin-bottom: 5px; margin-right: 5px; background: rgb(175, 175, 175);">
                    <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 50%; background: rgb(0, 0, 0);"></div>
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 50%;"></a></div>
                <div class="AudioTimer" style="color: rgb(0, 0, 0);">00:43 / 00:44</div>
            </div>
            <div class="AudioBuffer ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="77.82379119302419" style="display: block; background: rgb(213, 213, 213); width: 243px;">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: block; background: rgb(175, 175, 175); width: 78%;"></div>
            </div>
            <div class="AudioSeek ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="display: block; width: 243px;">
                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="background: rgb(0, 0, 0); width: 77.3215%;"></div>
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 77.3215%;"></a></div>
            <div class="songAuthorTitle" style="color: rgb(0, 0, 0); width: 243px;">
                <div class="songAuthorTitleInside" style="display: block; margin-left: -120.916px;">Author Scelerisque - Duis aute irure dolor in reprehenderit **** Author Scelerisque - Duis aute irure dolor in reprehenderit **** Author Scelerisque - Duis aute irure dolor in reprehenderit **** Author Scelerisque - Duis aute irure dolor in reprehenderit **** Author Scelerisque - Duis aute irure dolor in reprehenderit **** </div>
            </div>
            <div class="thumbsHolderWrapper" style="display: block; width: 267px; top: 41px; left: 0px; background: rgb(255, 255, 255); height: 225px;">
                <div class="playlistPadding" style="padding: 4px;">
                    <div class="thumbsHolderVisibleWrapper" style="width: 268px; height: 217px;">
                        <div class="thumbsHolder" style="top: -217px;">
                            <div class="thumbsHolder_ThumbOFF" rel="0" style="top: 31px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">1. Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="1" style="top: 62px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">2. Duis aute irure dolor in reprehenderit</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="2" style="top: 93px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">3. In voluptate velit esse cillum dolore</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="3" style="top: 124px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">4. Excepteur sint occaecat</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="4" style="top: 155px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">5. Perspiciatis unde omnis iste natus</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="5" style="top: 186px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">6. Et harum quidem rerum facilis est et expedita</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="6" style="top: 217px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">7. Temporibus autem quibusdam et</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="7" style="top: 248px; border-bottom-color: rgb(229, 229, 229); color: rgb(0, 0, 0); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">8. Duis aute irure dolor in reprehenderit</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="8" style="top: 279px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">9. Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="9" style="top: 310px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">10. Duis aute irure dolor in reprehenderit</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="10" style="top: 341px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">11. In voluptate velit esse cillum dolore</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="11" style="top: 372px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">12. Excepteur sint occaecat</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="12" style="top: 403px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">13. Perspiciatis unde omnis iste natus</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="13" style="top: 434px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">14. Et harum quidem rerum facilis est et expedita</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="14" style="top: 465px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">15. Temporibus autem quibusdam et</div>
                            </div>
                            <div class="thumbsHolder_ThumbOFF" rel="15" style="top: 496px; border-bottom-color: rgb(229, 229, 229); color: rgb(147, 147, 147); width: 246px; background: rgb(255, 255, 255);">
                                <div class="padding">16. Duis aute irure dolor in reprehenderit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-vertical ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="display: inline; position: absolute; height: 201px; left: 254px; top: 45px;">
                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="height: 22.2222%;"></div>
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 22.2222%;"></a></div>
        </div>
    </div>
</body>
</html>
