@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music</title>
    <link href="/css/music.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/music.js"></script>
</head>
<body style="background-color: gray">


    <div class="audio3_html5_bottom_div blackControllers">
        <div class="audio3_html5 blackControllers">
            <audio id="audio3_html5_white" preload="metadata" src="http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3">
                      <div class="xaudioplaylist">
                           <ul>
                              <li class="xtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                              <li class="xauthor">Author Composuit</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Somniare</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">In voluptate velit esse cillum dolore</li>
                              <li class="xauthor">Author Optimum</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Excepteur sint occaecat</li>
                              <li class="xauthor">Author Canorus</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul> 
                          
                          <ul>
                              <li class="xtitle">Perspiciatis unde omnis iste natus</li>
                              <li class="xauthor">Author Dolor</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Et harum quidem rerum facilis est et expedita</li>
                              <li class="xauthor">Author Turbarentur</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">Temporibus autem quibusdam et</li>
                              <li class="xauthor">Author Beati</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Scelerisque</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>   
                          
                          <ul>
                              <li class="xtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                              <li class="xauthor">Author Composuit</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Somniare</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">In voluptate velit esse cillum dolore</li>
                              <li class="xauthor">Author Optimum</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Excepteur sint occaecat</li>
                              <li class="xauthor">Author Canorus</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul> 
                          
                          <ul>
                              <li class="xtitle">Perspiciatis unde omnis iste natus</li>
                              <li class="xauthor">Author Dolor</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>                 
                      
                          <ul>
                              <li class="xtitle">Et harum quidem rerum facilis est et expedita</li>
                              <li class="xauthor">Author Turbarentur</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>                   
    
                          <ul>
                              <li class="xtitle">Temporibus autem quibusdam et</li>
                              <li class="xauthor">Author Beati</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/wm_follow_me.ogg</li>
                          </ul>
                          
                          <ul>
                              <li class="xtitle">Duis aute irure dolor in reprehenderit</li>
                              <li class="xauthor">Author Scelerisque</li>
                              <li class="xsources_mp3">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.mp3</li>
                              <li class="xsources_ogg">http://www.audioplayerhtml5.com/stickywordpress/audio/adg3com_crypticpsyche.ogg</li>
                          </ul>   
                                                                                        
                      </div>
                  No HTML5 audio playback capabilities for this browser. Use <a href="https://www.google.com/intl/en/chrome/browser/">Chrome Browser!</a>    
                </audio>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(function () {

            jQuery('#audio3_html5_white').audio3_html5({
                skin: 'blackControllers',
                playerPadding: 7,
                autoPlay: true,
                playerBg: '#FFFFFF',
                bufferEmptyColor: '#d5d5d5',
                bufferFullColor: '#afafaf',
                seekbarColor: '#000000',
                volumeOffColor: '#afafaf',
                volumeOnColor: '#000000',
                timerColor: '#000000',
                songAuthorTitleColor: '#000000',

                playlistTopPos: 2,
                playlistBgColor: '#ffffff',
                playlistRecordBgOffColor: '#ffffff',
                playlistRecordBgOnColor: '#ffffff',
                playlistRecordBottomBorderOffColor: '#e5e5e5',
                playlistRecordBottomBorderOnColor: '#e5e5e5',
                playlistRecordTextOffColor: '#939393',
                playlistRecordTextOnColor: '#000000',

                startMinified: true

            });


        });
    </script>
</body>
</html>
