<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <frameset cols="25%,50%,25%">
        <frame src="frame_a.htm" />
        <frame src="frame_b.htm" />
        <frame src="frame_c.htm" />
    </frameset>
    <div>
        @RenderBody()
    </div>
</body>
</html>
